name: Test workflow
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-python@main
      - uses: LunarWatcher/install-conan@master
      - name: Dependencies
        run: |
          sudo apt install postgresql-14 postgresql-client-14
      - name: Set up postgresql
        run: |
          # Note for manual test runners; DO NOT run the next line. 
          # Add "host spaceport-test spaceport-test 127.0.0.1/32 trust" instead.
          PG_PATH=/etc/postgresql/14/main/pg_hba.conf
          echo "local all postgres trust" | sudo tee $PG_PATH
          echo "host all all 0.0.0.0/0 trust" | sudo tee --append $PG_PATH
          echo "host all all ::0/0 trust" | sudo tee --append $PG_PATH
          # Required for commands because postgres is fucking dumb (I could just append -h but fuck that shit)
          echo "local all all trust" | sudo tee --append $PG_PATH
          echo "Begin dump of $PG_PATH: -------------------------------------------------"
          sudo cat $PG_PATH
          echo "End dump ----------------------------------------------------------------"
          sudo systemctl restart postgresql

          sudo -u postgres createuser --createdb spaceport-test
          sudo -u postgres createdb -U spaceport-test spaceport-test
      - name: Run tests
        run: |
          mkdir build && cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          make -j 4
          ./bin/tests
